body{


}
.link a{
    text-decoration: none;
    background-color: white;
    color: #0a0a23;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    border-radius: 50%;
    font-size: 0.8rem;
    margin: 15px;

}
.link .lest-link{
    padding: 00.8rem;
}
.link{
    display: flex;
    padding: 10px;
    margin: 5px;
}
span{
    display: none;
    margin-left: 0.3rem;
}
.link p:hover{
    background-color: darkorange;
    border-radius: 30%;
}
.link p:hover span{
    display: inline;
}
.ssm {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.ssm{
    color: aliceblue;
}
button[type="submit"]{
    margin-top: 00.8rem;
    padding: 0.7rem 2rem;
    font-weight: bold;
    color: "#0a0a23";
    border: none;
}
button[type="submit"] + P{
    font-size: 00.8rem;
}

.iphone{
    background-color: #0a0a23;
    display: flex;
    padding-left: 200px;

}
.ssm{
    padding-top: 70px;
    padding-right: 70px;
    background-color: #0a0a23;
}
.tecno img{
   margin: 60PX;
   width:  400px;
   height: 500px;
}
form input,select{
    border: none;
    width: 300px;
    background-color: #0a0a23;
    border-bottom: 3px solid wheat;
    height: 45px;
    margin-bottom: 5px;
    color: wheat;
}



